.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer-circle {
    width: 155px;
    height: 155px;
    border: 3px solid #3b56f0;
    padding: 10px;
    border-radius: 50%;
}

.inner-circle {
    background: #3542fa;
    border-radius: 50%;
    height: 152px;
    width: 152px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 1px 0px 0px 2px;
    line-height: 162px;
    align-items: center;
}

#img-tg {
    border-radius: 100%;
    height: 190px;
    width: 190px;
}

@keyframes spin {
    0% {
        border: 2px dashed #3b56f0;
        transform: rotateZ(0deg);
    }
    100% {
        border: 2px dashed #3b56f0;
        transform: rotateZ(360deg);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#outer-circle.active:before {
    position: fixed;
    content: '';
    border: 2px dashed #3b56f0;
    border-radius: 50%;
    animation: spin 10s linear infinite;
    width: 200px;
    height: 200px;
}