<!-- <div id="container" *ngIf="!isFirst">
    
    <div id="dashed-circle">
        <img id="img-tg" src="assets/images/FORT - assessment - robo.png" />
    </div>
</div> -->
<!-- <a routerLink='/welcome' routerLinkActive="active"></a>&nbsp;
<router-outlet></router-outlet> -->




<a routerLink='/welcome' routerLinkActive="active">Observable Task</a>&nbsp;
<a [routerLink]="['/refactor']" routerLinkActive="active">Refactor</a>&nbsp;
<a routerLink='/animation' routerLinkActive="active">Animation Task</a>&nbsp;
<!-- <a routerLink='/formArray' routerLinkActive="active">formArray</a>&nbsp; -->


<router-outlet></router-outlet>